{% extends "base.html" %}
{% block title %}Registrtion{% endblock %}
{% block content %}
            <form method="post" class="d-flex flex-column justify-content-center align-items-center"  style="margin-top: 100px">
                <div class="mb-3 w-25">
                    <label class="form-label">Email address</label>
                    {{ form.email }}
                </div>
                <div class="mb-3 w-25">
                    <label class="form-label">Password</label>
                    {{ form.password}}
                </div>
                <div class="mb-3 w-25">
                    <label class="form-label">First name</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3 w-25">
                    <label class="form-label">Password</label>
                    {{ form.last_name }}
                </div>
                <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Submit</button>
                {% csrf_token %}
            </form>
        

{% endblock %}