{% extends "base.html" %}
{% block content %}
<h3>Title:</h3>
<p>{{ new.name }}</p>
<h3>Image:</h3>
{% if new.title_image.name == "default.jpg" %}
    <img src="/media/news/{{new.title_image.name}}" class="img-fluid py-3" alt="...">
{% else %}
    <img src="/media/{{new.title_image.name}}" class="img-fluid py-3" alt="...">
{% endif %}
<h3>Description:</h3>
<p>{{ new.discription }}</p>
<form method="post" class="my-3" id="form">
    {% csrf_token %}
    {% for form in forms %}
        {% if form.errors %}
            {% for error in form.errors%}
                    <div class="mb-3 w-25">
                            <label class="form-label">{{form.label}}</label>
                            {{ form }}
                            <p style="margin-top:10px; color:red;">{{ error }}</p>
                    </div>
            {% endfor %}
        {% else %}
                <div class="mb-3 w-25">
                    <label class="form-label">{{form.label}}</label>
                    {{ form }}
                </div>
        {% endif %}
    {% endfor %}
</form>
<button type="submit" form="form" class="btn btn-success">Update</button>
{% endblock %}