{% extends 'base.html' %}
{% block title %}NEWS{% endblock %}
{% block page %}NEWS{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
            {% for new in news %}
                {% if new.title_image.name == "default.jpg" %}
                    <div class="col-lg-4">
                        <div class="card shadow-small mb-5 bg-body rounded" style="height:600px;">
                            <div class="scale"><a href="{% url "news:detail" new.pk %}"> <img src="/media/news/{{new.title_image.name}}" class="card-img-top" alt="..."  width="400" height="300"></a></div>
                            <div class="card-body">
                                <a class="title" href="{% url "news:detail" new.pk %}"><h5 class="card-title">{{new.name}}</h5></a>
                                <p class="card-text">{{new.discription|truncatewords:20}}</p>
                                <p class="card-text"><small class="text-muted">{{new.time_of_update}}</small></p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4">
                        <div class="card shadow-small mb-5 bg-body rounded" style="height:600px;">
                            <div class="scale"><a href="{% url "news:detail" new.pk %}"><img src="/media/{{new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a></div>
                            <div class="card-body">
                                <a class="title" href="{% url "news:detail" new.pk %}"><h5 class="card-title">{{new.name}}</h5></a>
                                <p class="card-text">{{new.discription|truncatewords:20}}</p>
                                <p class="card-text"><small class="text-muted">{{new.time_of_update}}</small></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% if filters %}
        <div class="container-fluid">
            <div class="row">
            {% for filter in filters %}
                <div class="col-lg-4">
                    <div class="card mb-2" style="height:600px;">
                        {% if filter.title_image.name == "default.jpg" %}
                            <a href="{% url "news:detail" filter.pk %}"><img src="/media/news/{{filter.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% else %}
                            <a href="{% url "news:detail" filter.pk %}"><img src="/media/{{filter.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% endif %}
                        <div class="card-body">
                        <a href="{% url "news:detail" filter.pk %}"><h5 class="card-title">{{filter.name}}</h5></a>
                        <p class="card-text">{{filter.discription|truncatewords:20}}</p>
                        <p class="card-text">{{filter.author}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% elif search_news %}
        <div class="container-fluid">
            <div class="row">
            {% for search_new in search_news %}
                <div class="col-lg-4">
                    <div class="card mb-2" style="height:600px;">
                        {% if search_new.title_image.name == "default.jpg" %}
                            <a href="{% url "news:detail" search_new.pk %}"><img src="/media/news/{{search_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% else %}
                            <a href="{% url "news:detail" search_new.pk %}"><img src="/media/{{search_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% endif %}
                        <div class="card-body">
                        <a href="{% url "news:detail" search_new.pk %}"><h5 class="card-title">{{search_new.name}}</h5></a>
                        <p class="card-text">{{search_new.discription|truncatewords:20}}</p>
                        <p class="card-text">{{search_new.author}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% elif search_similarity_name_news %}
        <div class="container-fluid">
            <div class="row">
            {% for search_similarity_name_new in search_similarity_name_news %}
                <div class="col-lg-4">
                    <div class="card mb-2" style="height:600px;">
                        {% if search_similarity_name_new.title_image.name == "default.jpg" %}
                            <a href="{% url "news:detail" search_similarity_name_new.pk %}"><img src="/media/news/{{search_similarity_name_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% else %}
                            <a href="{% url "news:detail" search_similarity_name_new.pk %}"><img src="/media/{{search_similarity_name_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% endif %}
                        <div class="card-body">
                        <a href="{% url "news:detail" search_similarity_name_new.pk %}"><h5 class="card-title">{{search_similarity_name_new.name}}</h5></a>
                        <p class="card-text">{{search_similarity_name_new.discription|truncatewords:20}}</p>
                        <p class="card-text">{{search_similarity_name_new.author}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% elif search_similarity_discription_news %}
        <div class="container-fluid">
            <div class="row">
            {% for search_similarity_discription_new in search_similarity_discription_news %}
                <div class="col-lg-4">
                    <div class="card mb-2" style="height:600px;">
                        {% if search_similarity_discription_new.title_image.name == "default.jpg" %}
                            <a href="{% url "news:detail" search_similarity_discription_new.pk %}"><img src="/media/news/{{search_similarity_discription_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% else %}
                            <a href="{% url "news:detail" search_similarity_discription_new.pk %}"><img src="/media/{{search_similarity_discription_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% endif %}
                        <div class="card-body">
                        <a href="{% url "news:detail" search_similarity_discription_new.pk %}"><h5 class="card-title">{{search_similarity_discription_new.name}}</h5></a>
                        <p class="card-text">{{search_similarity_discription_new.discription|truncatewords:20}}</p>
                        <p class="card-text">{{search_similarity_discription_new.author}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% elif search_similarity_author_news %}
        <div class="container-fluid">
            <div class="row">
            {% for search_similarity_author_new in search_similarity_author_news %}
                <div class="col-lg-4">
                    <div class="card mb-2" style="height:600px;">
                        {% if search_similarity_author_new.title_image.name == "default.jpg" %}
                            <a href="{% url "news:detail" search_similarity_author_new.pk %}"><img src="/media/news/{{search_similarity_author_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% else %}
                            <a href="{% url "news:detail" search_similarity_author_new.pk %}"><img src="/media/{{search_similarity_author_new.title_image.name}}" class="card-img-top" alt="..." width="400" height="300"></a>
                        {% endif %}
                        <div class="card-body">
                        <a href="{% url "news:detail" search_similarity_author_new.pk %}"><h5 class="card-title">{{search_similarity_author_new.name}}</h5></a>
                        <h5 class="card-title">{{search_similarity_author_new.name}}</h5>
                        <p class="card-text">{{search_similarity_author_new.discription|truncatewords:20}}</p>
                        <p class="card-text">{{search_similarity_author_new.author}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}  
{% endblock %}
{% block filter %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Filters</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Filters:</h6>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filter" value="War" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        War
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filter" value="Money" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                        Money
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filter" value="Weather" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                        Weather
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Find</button>
                </form>
            </div>
        </div>
    </li>
{% endblock %}
{% block search %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post">
{% csrf_token %}
<div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
        aria-label="Search" aria-describedby="basic-addon2" name="search">
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>
</form>
{% endblock %}