{% extends "base.html" %}
{% block content %}
    {% if searches %}
        {% for search in searches %}
            <p>{{search.name}}</p>
            <p>{{search.discription}}</p>
            <p>{{search.author}}</p>
            <br>
        {% endfor %}
    {% elif filters %}
        {% for filter in filters %}
            <p>{{filter.name}}</p>
            <p>{{filter.discription}}</p>
            <p>{{filter.author}}</p>
            <br>
        {% endfor %}
    {% else %}
        <h1>Not found any data...</h2>
    {% endif %}
{% endblock %}

{% block search %}
<form class="d-flex" method="post" style="margin-left: 341px;margin-top: -45px;">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block filter %}
<li class="nav-item">
    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Filters
    </a>
    <div class="collapse" id="collapseExample" style="margin-left: 30px;">
        <form method="post">
            {% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="filter" value="War" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                War
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="filter" value="Money" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                Money
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="filter" value="Weather" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                Weather
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Find</button>
        </form>
    </div>
</li>
{% endblock %}