{% load static %}

<!DOCTYPE html>

<html class="h-100">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% comment %} <link href="{% static 'index.css' %}"/> {% endcomment %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="h-100">
        <nav class="d-flex justify-content-center align-items-center navbar navbar-expand-lg navbar-light bg-light w-100 position-fixed" style="top: 0px">
            <div class="col-2">
                <a class="navbar-brand text-center fs-3" style="margin-left: 50px" href="#">NTUDP</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex justify-content-between collapse navbar-collapse col-10" id="navbarTogglerDemo02">
                <div>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'news:new' %}"><span class="sr-only fs-3">News</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nav:navigation' %}"><span class="sr-only fs-3">Navigation</snap></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="sr-only fs-3">Union</snap></a>
                        </li>
                        {% if request.session.Auth %}
                         <li class="nav-item dropdown" style="position:absolute; right:5%;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="sr-only fs-3">Welcome, {{ request.session.Name}}!</snap>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'register:update' %}">Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'register:sign_out' %}">Sign out</a></li>
                                
                            </ul>
                        </li>
                        {% else %}
                            {% comment %} <li><a class="nav-link" href="{% url 'register:reg' %}"><span class="sr-only fs-3">Register</snap></a></li> {% endcomment %}
                            <li class="nav-item" style="position:absolute; right:5%;">
                                <a class="nav-link" href="{% url 'register:reg' %}"><span class="sr-only fs-3">Register</snap></a>
                            </li>
                        {% endif %}
                    </ul>
                    {% block search %}
                    {% endblock %} 
                </div>
            </div>
        </nav>

        <div class="d-flex h-100 w-100">
            <aside class="d-flex flex-column bg-light col-2 h-100 position-fixed" style="left: 0px; top: 75px">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark">
                        Home
                        </a>
                    </li>
                </ul>
            </aside>
    
        <main class="col-10 h-100">            
            {% block content %}
            {% endblock %}
        </main>
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>